.nav {
  padding: 16px;
  margin-top: 8px;
  border: 1px solid salmon;
}

.nav a {
  padding: 0 10px;
}

.fruit {
  padding: 16px;
}

.li {
  margin-left: 20px;
}

.article {
  font-size: 1.5rem;
  margin: 4px;
  padding: 8px;
  background-color: peachpuff;
}
